@primary-color            : #f23118;
@disable-color            : #ccc;

@success-color            : #19be6b;
@warning-color            : #ff9900;
@error-color              : #ed3f14;

@font-title-color         : #333;
@font-article-color       : #666;
@font-secondary-color     : #999;
@font-light-color         : @primary-color;
@font-disable-color       : @disable-color;

@size-font-large          : 16px;
@size-font-base           : 14px;
@size-font-small          : 12px;

@bg-main-color            : #f2f2f2;
@bg-text-color            : #fff;

@border-shallow-color     : #ececec;
@border-deep-color        : #ccc;

@btn-primary-color        : @primary-color;
@btn-disable-color        : @disable-color;
@btn-ghost-color          : #ccc;
@btn-text-color           : #fff;

@btn-size-large           : 48px;
@btn-size                 : 44px;
@btn-size-small           : 40px;

@animation-time           : .3s;
@transition-time          : .2s;

@zindex-fix               : 9999;
